<form [formGroup]="form">
  <label for="name">Nombre</label>
  <input type="text" id="name" formControlName="name"
         [value]="(data$ | async)?.name" [readOnly]="!this.editable"
  >
  <label for="surname">Apellidos</label>
  <input type="text" id="surname" formControlName="surname"
         [value]="(data$ | async)?.surname" [readOnly]="!this.editable">
  <label for="atGraduation">Fecha de graduacion</label>
  <input type="text" id="atGraduation" formControlName="atGraduation"
         [value]="(data$ | async)?.atGraduation" [readOnly]="!this.editable">
  <button (click)="submit()">Enviar</button>
</form>
